.chatbot-header {
  padding: 10px 14px 6px;
  position: relative;
  z-index: 4;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgb(42, 39, 218) 0%,
    rgb(0, 204, 255) 100%
  );
}

.avatars-wrapper {
  width: 52px;
  height: 52px;
  margin: 0px 18px 0px 0px;
  float: left;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header-ava {
  width: 42px;
  height: 42px;
  float: left;
}

.chat-bot-close {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 4px;
  border: 0px;
  cursor: pointer;
  margin-left: auto;
}

.chat-bot-close:hover {
  opacity: 0.5;
}

.chat-bot-close img {
  height: 18px;
  width: 18px;
}
