.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("../src/assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.chat-bot {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 60px;
  padding: 34px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 0px;
  cursor: pointer;
}

.chat-bot img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chat-bot .opened {
  height: 40px;
  width: 40px;
  transform: scaleX(-1);
  rotate: -10deg;
}

.chat-bot:hover {
  opacity: 0.5;
}
